<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbpu.mapper.BbsreplyMapper" >
  <resultMap id="BaseResultMap" type="com.hbpu.po.Bbsreply" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rtid" property="rtid" jdbcType="INTEGER" />
    <result column="tuid" property="tuid" jdbcType="INTEGER" />
    <result column="rcontent" property="rcontent" jdbcType="VARCHAR" />
    <result column="rreplydate" property="rreplydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rid, rtid, tuid, rcontent, rreplydate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbpu.po.BbsreplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bbsreply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bbsreply
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bbsreply
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbpu.po.BbsreplyExample" >
    delete from bbsreply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbpu.po.Bbsreply" >
    insert into bbsreply (rid, rtid, tuid, 
      rcontent, rreplydate)
    values (#{rid,jdbcType=INTEGER}, #{rtid,jdbcType=INTEGER}, #{tuid,jdbcType=INTEGER}, 
      #{rcontent,jdbcType=VARCHAR}, #{rreplydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hbpu.po.Bbsreply" >
    insert into bbsreply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="rtid != null" >
        rtid,
      </if>
      <if test="tuid != null" >
        tuid,
      </if>
      <if test="rcontent != null" >
        rcontent,
      </if>
      <if test="rreplydate != null" >
        rreplydate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rtid != null" >
        #{rtid,jdbcType=INTEGER},
      </if>
      <if test="tuid != null" >
        #{tuid,jdbcType=INTEGER},
      </if>
      <if test="rcontent != null" >
        #{rcontent,jdbcType=VARCHAR},
      </if>
      <if test="rreplydate != null" >
        #{rreplydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbpu.po.BbsreplyExample" resultType="java.lang.Integer" >
    select count(*) from bbsreply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bbsreply
    <set >
      <if test="record.rid != null" >
        rid = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.rtid != null" >
        rtid = #{record.rtid,jdbcType=INTEGER},
      </if>
      <if test="record.tuid != null" >
        tuid = #{record.tuid,jdbcType=INTEGER},
      </if>
      <if test="record.rcontent != null" >
        rcontent = #{record.rcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.rreplydate != null" >
        rreplydate = #{record.rreplydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bbsreply
    set rid = #{record.rid,jdbcType=INTEGER},
      rtid = #{record.rtid,jdbcType=INTEGER},
      tuid = #{record.tuid,jdbcType=INTEGER},
      rcontent = #{record.rcontent,jdbcType=VARCHAR},
      rreplydate = #{record.rreplydate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbpu.po.Bbsreply" >
    update bbsreply
    <set >
      <if test="rtid != null" >
        rtid = #{rtid,jdbcType=INTEGER},
      </if>
      <if test="tuid != null" >
        tuid = #{tuid,jdbcType=INTEGER},
      </if>
      <if test="rcontent != null" >
        rcontent = #{rcontent,jdbcType=VARCHAR},
      </if>
      <if test="rreplydate != null" >
        rreplydate = #{rreplydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbpu.po.Bbsreply" >
    update bbsreply
    set rtid = #{rtid,jdbcType=INTEGER},
      tuid = #{tuid,jdbcType=INTEGER},
      rcontent = #{rcontent,jdbcType=VARCHAR},
      rreplydate = #{rreplydate,jdbcType=TIMESTAMP}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>