<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbpu.mapper.StuscoreMapper" >
  <resultMap id="BaseResultMap" type="com.hbpu.po.Stuscore" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="sdromnum" property="sdromnum" jdbcType="VARCHAR" />
    <result column="shygiene" property="shygiene" jdbcType="INTEGER" />
    <result column="sculture" property="sculture" jdbcType="INTEGER" />
    <result column="ssave" property="ssave" jdbcType="INTEGER" />
    <result column="sgrade" property="sgrade" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, sdromnum, shygiene, sculture, ssave, sgrade
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hbpu.po.StuscoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stuscore
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stuscore
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stuscore
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hbpu.po.StuscoreExample" >
    delete from stuscore
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hbpu.po.Stuscore" >
    insert into stuscore (sid, sdromnum, shygiene, 
      sculture, ssave, sgrade
      )
    values (#{sid,jdbcType=INTEGER}, #{sdromnum,jdbcType=VARCHAR}, #{shygiene,jdbcType=INTEGER}, 
      #{sculture,jdbcType=INTEGER}, #{ssave,jdbcType=INTEGER}, #{sgrade,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbpu.po.Stuscore" >
    insert into stuscore
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="sdromnum != null" >
        sdromnum,
      </if>
      <if test="shygiene != null" >
        shygiene,
      </if>
      <if test="sculture != null" >
        sculture,
      </if>
      <if test="ssave != null" >
        ssave,
      </if>
      <if test="sgrade != null" >
        sgrade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sdromnum != null" >
        #{sdromnum,jdbcType=VARCHAR},
      </if>
      <if test="shygiene != null" >
        #{shygiene,jdbcType=INTEGER},
      </if>
      <if test="sculture != null" >
        #{sculture,jdbcType=INTEGER},
      </if>
      <if test="ssave != null" >
        #{ssave,jdbcType=INTEGER},
      </if>
      <if test="sgrade != null" >
        #{sgrade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hbpu.po.StuscoreExample" resultType="java.lang.Integer" >
    select count(*) from stuscore
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stuscore
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.sdromnum != null" >
        sdromnum = #{record.sdromnum,jdbcType=VARCHAR},
      </if>
      <if test="record.shygiene != null" >
        shygiene = #{record.shygiene,jdbcType=INTEGER},
      </if>
      <if test="record.sculture != null" >
        sculture = #{record.sculture,jdbcType=INTEGER},
      </if>
      <if test="record.ssave != null" >
        ssave = #{record.ssave,jdbcType=INTEGER},
      </if>
      <if test="record.sgrade != null" >
        sgrade = #{record.sgrade,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stuscore
    set sid = #{record.sid,jdbcType=INTEGER},
      sdromnum = #{record.sdromnum,jdbcType=VARCHAR},
      shygiene = #{record.shygiene,jdbcType=INTEGER},
      sculture = #{record.sculture,jdbcType=INTEGER},
      ssave = #{record.ssave,jdbcType=INTEGER},
      sgrade = #{record.sgrade,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbpu.po.Stuscore" >
    update stuscore
    <set >
      <if test="sdromnum != null" >
        sdromnum = #{sdromnum,jdbcType=VARCHAR},
      </if>
      <if test="shygiene != null" >
        shygiene = #{shygiene,jdbcType=INTEGER},
      </if>
      <if test="sculture != null" >
        sculture = #{sculture,jdbcType=INTEGER},
      </if>
      <if test="ssave != null" >
        ssave = #{ssave,jdbcType=INTEGER},
      </if>
      <if test="sgrade != null" >
        sgrade = #{sgrade,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbpu.po.Stuscore" >
    update stuscore
    set sdromnum = #{sdromnum,jdbcType=VARCHAR},
      shygiene = #{shygiene,jdbcType=INTEGER},
      sculture = #{sculture,jdbcType=INTEGER},
      ssave = #{ssave,jdbcType=INTEGER},
      sgrade = #{sgrade,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>